.u-section-1 {
  background-image: url("images/z5QFfbP2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-tabs-1 {
  min-height: 468px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 13px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  color: rgb(16, 129, 224) !important;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-list-icon-11 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-12 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-13 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-14 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-15 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-16 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-17 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-18 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-19 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-list-icon-20 {
  color: rgb(16, 129, 224) !important;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-31 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 13px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-list-icon-41 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 592px;
    width: 309px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}