.u-section-1 {
  min-height: 738px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: 92px calc(((100% - 1140px) / 2) + 31px) 0 auto;
}

.u-section-1 .u-shape-2 {
  height: 388px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 522px;
  width: 675px;
  margin: -675px calc(((100% - 1140px) / 2) + 31px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 517px;
  min-height: 366px;
  margin: -291px auto 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 40px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.75rem;
  margin: 0 19px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 25px 10px 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 35px 10px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 22px auto 0 10px;
  padding: 10px 47px 10px 46px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: -617px auto 60px calc(((100% - 1140px) / 2) + 11px);
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 31px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 31px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -647px;
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 634px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-1 .u-image-1 {
    height: 418px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 371px;
    min-height: 295px;
    margin-top: -100px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 18px 20px 11px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -660px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 31px);
  }

  .u-section-1 .u-shape-2 {
    height: 350px;
    margin-top: -113px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    width: 321px;
    margin-top: -474px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
  }

  .u-section-1 .u-group-1 {
    width: 323px;
    min-height: 227px;
    margin-top: -19px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 2px 7px 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 4px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 16px;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 5px;
    margin-left: 17px;
    padding: 4px 39px 4px 38px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -514px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 13px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 487px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 291px;
  height: 291px;
  background-image: none;
  margin: 50px 90px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: -303px 50px 0 10px;
}

.u-section-2 .u-table-1 {
  width: 1085px;
  margin: 29px auto 0 22px;
}

.u-block-496d-32 {
  font-weight: 700;
  background-image: none;
}

.u-block-496d-34 {
  margin-left: auto;
  margin-right: 0;
}

.u-block-496d-35 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-2 .u-table-cell-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-7 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-8 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-9 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-10 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-11 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-12 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-13 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-table-cell-14 {
  margin-left: auto;
  margin-right: auto;
}

.u-block-496d-61 {
  margin-left: auto;
  margin-right: 0;
}

.u-block-496d-62 {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1px;
    margin-right: 78px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -263px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 533px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 852px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 56px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -284px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-table-1 {
    width: 408px;
    margin-top: 31px;
    margin-bottom: -16px;
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 843px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -268px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: -18px;
    margin-bottom: 17px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-shape-1 {
    width: 134px;
    height: 134px;
    margin-top: 25px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -134px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-2 .u-table-1 {
    width: 316px;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
  min-height: 500px;
}

.u-section-3 .u-group-1 {
  width: 713px;
  min-height: 158px;
  margin: 31px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 30px 57px 0 30px;
}

.u-section-3 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 776px);
  min-height: 232px;
  margin: -12px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -189px calc(((100% - 1140px) / 2) + 49px) 0 calc(((100% - 1140px) / 2) + 15px);
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  margin: 57px calc(((100% - 1140px) / 2) + 49px) 31px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 776px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + -22px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-top: 178px;
    margin-right: calc(((100% - 720px) / 2) + 60px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 667px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2) + 53px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 494px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    min-height: 262px;
    margin-top: -39px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -238px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
    margin-right: calc(((100% - 340px) / 2) + 53px);
    margin-bottom: 29px;
  }
}